body {
  background-image: linear-gradient(to right, #20093a77, #686b6950, #030303),
    url('getty_514914078_200013332000928076_167571.jpg');
  background-position: right;
  background-size: cover;
  height: 100vh;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 3rem;
}

#input {
  text-transform: uppercase;
  width: 25%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: rgb(188, 143, 143);
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

ul {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
li {
  margin: 0 auto;
  list-style-type: none;
  padding: 13px;
  background: linear-gradient(#866dd3d7, #2e3c47);
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 13px;
  width: 40%;
  word-wrap: break-word;
  animation: list 1s;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

#btn {
  background-color: rgba(12, 158, 31, 0.658);
  color: #fff;
  width: 4rem;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  
}
#btn:hover {
  transform: scale(1.05);
}
#btn:active {
  transform: scale(0.95);
}

.btn-remove {
  float: right;
  background-color: rgba(255, 0, 0, 0.651);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.editBtn {
  float: right;
  margin-right: 5px;
  background-color: rgb(53, 184, 36);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

#count {
  font-size: 70px;
  color: #000000b7;
  text-decoration: underline;
  animation: taskcount 1s;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.name {
  font-size: 70px;
  color: #876dd3bb;
  text-transform: uppercase;
  animation: name 1s;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.finishedTasks {
  padding-top: 200px;
  font-size: 30px;
  color: #09080c;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  animation: taskcount 1s;
}

#finishedTaskText {
  align-self: center;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.finishedLi {
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  width: 40%;
  cursor: pointer;
}

.finishedLi::after {
  content: '\2713';
  float: right;
  margin-right: 10px;
  color: rgba(138, 224, 8, 0.582);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes taskcount {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes name {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes list {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
